html, body{
    padding: 0;
    margin:0;
    height: 100%;
    width:100%;
}

*, input{
    /* font-family: georgia; */
    font-family: helvetica;
}

input[type=textbox]{
    padding:0.5em;
    padding-bottom: 0.3em;
    padding-top: 0.2em;
    font-size: 150%;
    margin: 0;
    /* margin:0.5em;; */
    /* margin-bottom: 0em; */
    border:1px solid #aaa;
    border-radius: 0.2em;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
    width: 11em;
}

.grey{
    color: #777;
}

.section-label{
    color: #777;
    font-style: italic;
    margin-bottom: 0.5em;
}

.main{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background:url(/static/logo.png) center center no-repeat; */
}

.book{
    font-size: 170%;
}

.content{
    padding: 1em;
}

.definition{
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        padding-left: 3em;
        margin-top: 0.2em;
    }

.verse{
    /* color: #777; */
    margin-bottom: 1em;
}

.verses-container{
    margin-top: 1em;
}

.verse-word{
    /* font-size: 170%; */
    /* margin-bottom: 0.5em; */
    /* background-color: #f5f5f5; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid #ccc;
}

.verse-texts{
    padding-top:0.3em;
    border-top: 0.2em solid #eee;
    border-bottom: 0.1em solid #ccc;
    display: none;
}

.verse-text{
    margin-bottom: 1em;
}

.meta{
    color: #000;
    margin-right: 1em;
    border-radius: 0.5em;
    text-decoration: none;
}

.meta:active{
    background-color: #ddd;
}

.word, .orig_word{
    font-size: 170%;
}

.orig_word{
    color: #777;
}

.right{
    text-align: right;
}

.ref-word-link{
    color: black;
}

.strongs{
    margin-bottom: 1em;
}

.count{
    /* margin-right: 0.5em; */
    margin-left: 1em;
}


.chart-container{
    padding-top:0;
    /* padding:0.5em; */
    text-align: right;
}

.divider{
    color: #777;
    text-align: right;
    /* font-size: 70%; */
}

.divider > div{
    border-top: 0.1em solid #aaa;
    margin-top:1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.hint{
    color: #777;
    font-style: italic;
}

.search-form{
    text-align: center;
    background-color: #eee;
    border-bottom: 0.1em solid #ddd;
    padding:0.5em;
}

.sort-control{
    /* margin-bottom: 0.5em; */
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 0.5em;
}

.subhead{
    font-style: italic;
    color: #777;
    margin-bottom: 0.5em;
}

.swatch{
    height: 3.5em;
    padding-right: 0.2em;
    margin-left: 0.2em;
}

.usage-sort > .usage-sorter{
    color: #777;
    border: 0.1em solid #999;
    border-left: none;
    padding: 0.3em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

.usage-sorter.first{
    border-radius: 0.2em 0em 0em 0.2em;
    border-left: 0.1em solid #999;
}

.usage-sorter.last{
    border-radius: 0em 0.2em 0.2em 0em;
}

.usage-sort > div.selected{
    color: black;
    color: white;
    background-color: #999;
    /* font-weight: bold; */
}

span.twitter-typeahead .tt-dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
    margin-left: 1em;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
    text-align: left;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.tt-hint{
    color: #777;
}

.tt-highlight{
    font-weight: bold;
}

.tt-cursor{
    background-color: #eee;
}

span.twitter-typeahead {
  /* width: 100%; */
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
