*, input{
    font-family: georgia;
}

input[type=textbox]{
    padding:0.3em;
    text-align: center;
    font-size: 150%;
    margin:0;
    border:0;
    border-bottom: 0.1em solid #ddd;
    outline: none;
}

.main{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* background:url(/static/logo.png) center center no-repeat; */
}

.book{
    margin-bottom: 1em;
}

.content{
    padding: 1em;
}

.definition{
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-left: 1em;
        margin-top: 0.5em;
    }

.verse{
    /* color: #777; */
    margin-bottom: 1em;
}

.verse-word{
    font-weight: bold;
}

.verse-text{
    margin-bottom: 1em;
}

.meta{
    color: #999;
    padding-top: 1em;
    padding-bottom: 1em;
}

.meta > div > div:first-child{
    color: black;
}

.word{
    font-size: 200%;
}

.ref-word-link{
    color: black;
}

.strongs{
    margin-bottom: 1em;
}

.count{
    /* margin-right: 1em; */
    margin-left: 1em;
}


.chart-container{
    padding-top:0;
    padding:0.5em;
    text-align: right;
}

.divider{
    color: #777;
    text-align: right;
    /* font-size: 70%; */
}

.divider > div{
    border-top: 0.1em solid #aaa;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}
